#top, #bottom{
	height: 100px;

}

#exterior{
	width:1.5in;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding: 0;

}

#clock{
	background-color: darkgrey;
	margin:0;
	width: 1.5in;
	height: 1.5in;
	padding-bottom: 0;
	border-top: -1px;

}
.mainScreen{
	/*hide all elements on startup*/
	display: none;
}

#lockButton {
	display: block;
	width: auto;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#time {
	/*display: none;*/
	position: relative;
	top: 0.3in;
	width: inherit;
	font-size: 0.4in;

	text-align: center;

}

#touchToUnlock {
	position: relative;

	height: inherit;
	width: inherit;

}

#mainWidget {
	background-color: red;
	width:0.7in;
	height: 0.7in;
	position: relative;
	text-align: center;
	top:0.3in;
	left: 0;
	right: 0;
	margin: 0.15in auto;
}

.friends#back{
	display: none;
	background-color: black;
	height: 0.28in;
	width: 0.28in;
	text-align: right;

	margin-right: auto;
	margin-left: 0;
}

.friends#friend {
	display: none;
	height:0.3in;
	width: inherit;
	background-color: aqua;
	margin-top:0.07in;

}

.friendsFunctions#friend{
	display: none;

}
