#top, #bottom{
	height: 100px;

}

#exterior{
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 0;
}

#clock{
	background-color: darkgrey;
	width: auto;
	height: 0;
	
	padding-bottom: 100%;
	padding-top: 1px;

}

#lockButton {
	display: block;
	width: auto;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#time {
	/*display: none;*/
	font-size: 50px;
	margin-top: 30%;
	text-align: center;
}