#top, #bottom{
	height: 100px;

}

#exterior{
	width:30vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding: 0;
	
}

#clock{
	background-color: darkgrey;
	margin:0;
	width: 30vw;
	height: 30vw;
	padding-bottom: 0;
	border-top: -1px;

}

#lockButton {
	display: block;
	width: auto;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#time {
	/*display: none;*/
	position: absolute;
	top:20%;
	width: inherit;
	font-size: 200%;
	
	text-align: center;
	
}

#touchToUnlock {
	position: absolute;
	
	height: inherit;
	width: inherit;
	
}
